<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<div class="container">
	<h1>Orders</h1>


<div class="order" data-ng-repeat="order in orderManageCtrl.orders">
	<h2>#{{order.id}} - Status</h2>


	<select data-ng-if="order.orderStatus == 'new'" >
	  <option value="new" selected>NEW</option>
	  <option value="hold">HOLD</option>
	  <option value="shipped">SHIPPED</option>
	  <option value="delivered">DELIVERED</option>
	  <option value="closed">CLOSED</option>

	</select>
	<select data-ng-if="order.orderStatus == 'hold'">
	  <option value="new">NEW</option>
	  <option value="hold" selected>HOLD</option>
	  <option value="shipped">SHIPPED</option>
	  <option value="delivered">DELIVERED</option>
	  <option value="closed">CLOSED</option>

	</select>
	<select data-ng-if="order.orderStatus == 'shipped'">
	  <option value="new">NEW</option>
	  <option value="hold">HOLD</option>
	  <option value="shipped" selected>SHIPPED</option>
	  <option value="delivered">DELIVERED</option>
	  <option value="closed">CLOSED</option>

	</select>
	<select data-ng-if="order.orderStatus == 'delivered'">
	  <option value="new">NEW</option>
	  <option value="hold">HOLD</option>
	  <option value="shipped">SHIPPED</option>
	  <option value="delivered" selected>DELIVERED</option>
	  <option value="closed">CLOSED</option>

	</select>
	<select data-ng-if="order.orderStatus == 'closed'">
	  <option value="new">NEW</option>
	  <option value="hold">HOLD</option>
	  <option value="shipped">SHIPPED</option>
	  <option value="delivered">DELIVERED</option>
	  <option value="closed" selected>CLOSED</option>

	</select>


	<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td>Username</td>
			<td>Email</td>
			<td>Country</td>
			<td>City</td>
			<td>Region</td>
			<td>Street</td>
		</tr>
	</thead>
	<tbody>
	  <tr>
	    <td>{{orderManageCtrl.customer.username}}</td>
		<td>{{orderManageCtrl.customer.email}}</td>
		<td>{{order.country}}</td>
		<td>{{order.city}}</td>
		<td>{{order.region}}</td>
		<td>{{order.street}}</td>
	  </tr>

	</tbody>

	</table>
	<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td>Product Name</td>
			<td>Quantity</td>
			<td>Unit Price</td>
			<td>Total</td>
		</tr>
	</thead>
	<tbody>
	  <tr data-ng-repeat="product in order.products">
	    <td>{{product.name}}</td>
	    <td>{{product.quantity}}</td>
	    <td>{{product.price}}</td>
	    <td>{{product.subtotal}}</td>
	  </tr>

	</tbody>
	<tfoot>
		<tr>
			<td colspan="3" class="text-right">Total</td>
			<td>${{order.total}}</td>
		</tr>
	</tfoot>
	</table>
	<div data-ng-if="order.orderStatus == 'NEW'">
		<button class="btn" data-ng-click="orderManageCtrl.deleteOrder(order.id)">DELETE</button>
	</div>
</div>
</div>