<div class="col-md-9">
    <input type="text" ng-model="filterInput">
    <div class="row">
		
	  <div class="col-sm-4 col-lg-4 col-md-4" data-ng-repeat="product in productCtrl.products | filter:filterInput">
        <div class="thumbnail">
            <a href="#">	                           
            	<img src="http://ecx.images-amazon.com/images/I/418medYDG9L._AC_SY220_.jpg" alt="">
            </a>
            <div class="caption">
                <h4 class="pull-right">{{product.price}}</h4>
                <h4><a href="#/products/{{product.id}}">{{product.name}}</a></h4>
            </div>
            <div class="ratings">
                <a href="#" class="btn btn-default">ADD TO CART</a>
            </div>
        </div>
    
    </div>

</div>

