 
<!DOCTYPE HTML>
<html>
<head>
<title>Free Adidas Website Template | Register :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
<!-- start menu -->     
<link href="assets/css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="assets/js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- end menu -->
<!-- top scrolling -->
<script type="text/javascript" src="assets/js/move-top.js"></script>
<script type="text/javascript" src="assets/js/easing.js"></script>
   <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
  
   
       <div class="register_account">
          	<div class="wrap">
    	      <h4 class="title">Shipping Address</h4>
    		  <form>
				 <div class="col_1_of_2 span_1_of_2">
		   			 <div><input data-ng-model="checkoutCtrl.order.country" type="text" placeholder="country"></div>
		    			<div><input data-ng-model="checkoutCtrl.order.street" type="text" placeholder="street"></div>
		    			<div><input type="text" placeholder="region" data-ng-model="checkoutCtrl.order.region"></div>
		    	 </div>
		    			        
		         <div><input data-ng-model="checkoutCtrl.user.city" data-ng-model="checkoutCtrl.order.city" type="text"  placeholder="city"></div>
		          </div>
		         
		       <button class="grey" data-ng-click="checkoutCtrl.checkout()">Submit</button>

		    </form>
    	  </div> 
        </div>

     <table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td>Product Name</td>
				<td>Quantity</td>
				<td>Unit Price</td>
				<td>Total</td>
			</tr>
		</thead>
		<tbody data-ng-repeat="product in checkoutCtrl.products">
	      <tr>
	        <td>{{product.name}}</td>
	        <td>{{product.quantity}}</td>
	        <td>${{product.price}}</td>
	        <td>${{product.subtotal}}</td>
	      </tr>

    	</tbody>
    	<tfoot>
    		<tr>
    			<td colspan="3" class="text-right">Total</td>
    			<td>${{checkoutCtrl.total}}</td>
    		</tr>
    	</tfoot>
	</table>
</body>
</html>

